.footer {
  background-color: var(--footer-bg-color);
}

.footer .conteiner {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-left-side {
  margin-right: 70px;
}

.footer .logo {
  margin-right: 0;
}
.footer-logo {
  margin-bottom: 20px;
}

.footer-logo .logo {
  color: var(--main-white-color);
}

.main-footer-address-list:not(:last-child) {
  margin-bottom: 9px;
}

.main-footer-address-list .street {
  color: var(--main-white-color);
}

.footer-address-list-item {
  color: var(--footer-address-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.footer-address-list-item:hover,
.footer-address-list-item:focus {
  color: var(--accent-color);
}

.footer-middle-side {
  margin-right: 93px;
}

.join {
  display: inline-block;
  color: var(--main-white-color);

  font-weight: 700;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
}

.footer-social-list-item {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: var(--accent-color);
}

.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: var(--main-white-color);
}

.subscribe {
  display: inline-block;
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-white-color);
}

.newsletter-form {
  display: flex;
}

.newsletter-mail {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  color: rgba(255, 255, 255, 0.6);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter-mail:focus {
  outline: none;
  border-color: var(--accent-color);
}

.subscribe-btn {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  padding-left: 29px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  color: var(--main-white-color);
  background-color: var(--accent-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}

.icon-send {
  margin-left: 10px;
  fill: var(--main-white-color);
}
